.button-border {
    display: flex;
    justify-content: center;
    margin: 25px;
}

.button {
    background-color: white;
    border: none;
    padding: 20px;
    border-radius: 100%;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s;
}

.button:hover {
    background-color: black;
    color: white;
}

.location-container {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    margin: 100px;
    padding: 50px;
}

.location-border {
    display: grid;
    align-items: center;
    font-size: 35px;
}